<app-text-submit></app-text-submit>
<app-text-edit [selectedText]="selectedText"></app-text-edit>
<div class="container">
  <div class="row">
    <ul style="margin-top: 20px;" class="list-unstyled col-md-12">
      <p *ngIf="texts.data?.length === 0">
        Nie ma żadnych tekstów. Dodaj coś!
      </p>

      <li
          *ngFor="let text of texts.data"
          class="items-list"
      >

        <p>ID: {{text.id}}</p>
        <label for="title">Tytuł: </label>
        <input
            id="title"
            value="{{text.title}}"
            type="text"
        >
        <p>{{textTitle}}</p>
        <div *ngIf="!showWholeText">{{text.content.substring(0, 100)}}...<b (click)="showMore()">read more</b> </div>
        <div *ngIf="showWholeText">{{text.content}} . . . <b (click)="showLess()">Show Less</b></div>
        <p><b>length:</b> {{text.content.length}}</p>
        <button
            (click)="deleteText(text)"
            class="btn btn-danger">Remove</button>
        <button
            class="btn">Edit text</button>
        <hr>
      </li>
    </ul>
  </div>
</div>