<div class="container">
  <div class="row main">
    <div class="col-md-12">
      <p></p>
      <button class="btn btn-default" (click)="toggleForm()">Dodaj tekst</button>
    </div>
  </div>
  <hr>
  <!--todo - po kliknięciu pokaż form-->
  <form *ngIf="showed">
    <div class="form-group row">
      <label for="title" class="col-2 col-form-label">Text title</label>
      <!--todo - input to title -->
      <input
          type="text"
          id="title"
          [(ngModel)]="addedTextTitle"
          [ngModelOptions]="{standalone: true}"
          required>
    </div>
    <div class="form-group row">
      <label for="content" class="col-2 col-form-label">Text content</label>
      <textarea
          id="content"
          content="form-control"
          [(ngModel)]="addedTextContent"
          [ngModelOptions]="{standalone: true}"
          required>

    </textarea><br>

    </div>
    <button
        class="btn btn-info"
        (click)="submitText(new_text)">Submit
    </button>
    <hr>
  </form>
</div>